body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

header, .header {
  background: #7A98A9;
  color: #fff;
  padding: 9px;
}

nav, .nav {
  background: #fff;
  color: #000;
  padding: 9px;
}

main, .main {
  float: left;
  width: 70%;
  background: #53B1DA;
  padding: 9px;
  box-sizing: border-box;
}

section, .section {
  background: #39D1B4;
  color: #fff;
  padding: 9px;
  margin-bottom: 9px;
}

article, .article {
  background: #fff;
  color: #000;
  padding: 9px;
}

aside, .aside {
  float: right;
  width: 30%;
  padding: 9px;
  box-sizing: border-box;
}

footer, .footer {
  background: #1B3547;
  color: #fff;
  padding: 9px;
}

.container {
  overflow: hidden;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}
